.container {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;

  margin-top: calc(0px - 1.687rem);
}

.taskListContainer {
  margin-top: 4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
